html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

#tree {
  list-style-type: none;
}

#content {
  margin-top: 20px;
  padding: 10px;
}

.center {
  margin: 0 auto;
  width: 800px;
}

.c_text {
  text-align: center;
}

.c_up {
  margin-top: 20%;
}

.btn {
  background-color: #E2E2E2;
  font-size: 0.7em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}

.warn {
  font-size: 0.7em;
  color: red;
}

.key {
  color: green;
}